<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="header header__main">
            <div class="container ">
                <div class="header__inner">
                    <a href="/" class="logo">
                        <img src="images/lg.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <button class="menu__btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <%- include('parts/menu', {menuItem:'main'}); %>
                    </nav>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="top">
                <div class="container">
                    <h1 class="title">
                        Автокузовная Мастерская Полного Цикла 
                    </h1>
                    <a href="works.ejs" class="top__link">
                        НАШИ РАБОТЫ
                    </a>
                </div>
            </section>
            <div class="slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image: url(images/slide-1.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(images/slide-2.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(images/slide-3.jpg);"></div>
                        <div class="swiper-slide" style="background-image: url(images/slide-4.jpg);"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
    </div>
    <section class="why-lease">
        <div class="container">
            <h2 class="section-title" id="onas">
                О НАС
            </h2>
            <ul class="why-lease__list">
                <li class="why-lease__item">
                    <img src="images/why-lease-1.svg" alt="" class="why-lease__item-img">
                    <h3 class="why-lease__item-title">
                        ПРОФЕССИОНАЛЬНЫЙ ПОДХОД
                    </h3>
                    <p class="why-lease__item-text">
                        С 2010 года занимаемся восстановлением и защитой внешнего вида ваших автомобилей.
                    </p>
                </li>
                <li class="why-lease__item">
                    <img src="images/why-lease-2.svg" alt="" class="why-lease__item-img">
                    <h3 class="why-lease__item-title">
                        БОЛЬШОЙ ОПЫТ
                    </h3>
                    <p class="why-lease__item-text">
                        На настоящий момент выполнено более 1000 работ за которыми закреплена гарантия качества.
                    </p>
                </li>
                <li class="why-lease__item">
                    <img src="images/why-lease-3.svg" alt="" class="why-lease__item-img">
                    <h3 class="why-lease__item-title">
                        КАЧЕСТВО РАБОТЫ
                    </h3>
                    <p class="why-lease__item-text">
                        В арсенале мастерской мы используем только топовое, профессиональное оборудование и инструменты проверенных брендов.
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <section class="video_onas">
        <div class="countainer">
            <h2 class="section-title video__title">
                Добро пожаловать в Carfix Studio
            </h2>
            <p class="video__text">
                Почему именно мы?
            </p>
            <video class="video__content" width="1000" height="500" controls="controls"
                poster="images/zastavka.JPG" src="video/CarFix Reels.mp4">
            </video>
        </div>
    </section>
    <section class="how-does">
        <div class="container">
            <div class="how-does__inner">
                <h2 class="section-title" id="usl">
                    УСЛУГИ
                </h2>
                <p class="how-does__text">
                    Тонирование стекол, защита кузова и фар антигравийной пленкой, автовинил, винилография,
                    шумоизоляция, обработка и полировка кузова — это то, чем занимается наша компания уже более 10 лет.
                    За время работы мы изучили новые технологии, протестировали на практике все виды пленок и накопили
                    огромный опыт в этой сфере. Мы являемся профессионалами своего дела. Теперь мы знаем о пленках все!
                </p>
                <h4 class="how__does-title">
                    Преимущества нашей студии:
                </h4>
                <ol class="how__does-list">
                    <li class="how__does-item">
                        Покраска любой сложности
                    </li>
                    <li class="how__does-item">
                        Стапельные и сварочные работы
                    </li>
                    <li class="how__does-item">
                        Удаление вмятин без покраски
                    </li>
                    <li class="how__does-item">
                        Полировка кузова и керамические покрытия
                    </li>
                    <li class="how__does-item">
                        Защита напыляемым полиуретаном PROTECT
                    </li>
                    <li class="how__does-item">
                        Антихром
                    </li>
                </ol>
                <p class="how-does__text">
                    Клиенты доверяют нам и советуют нас своим друзьям. Множество водителей воспользовались услугами
                    компании Carfix Studio. Заказывайте наши услуги и будете довольны!
                </p>
            </div>
        </div>
    </section>
    <section class="video">
        <div class="countainer">
            <h2 class="section-title video__title">
                Добро пожаловать в Carfix Studio
            </h2>
            <p class="video__text">
                Почему именно мы?
            </p>
            <video class="video__content" width="1000" height="500" controls="controls"
                poster="images/zastavka.JPG" src="video/CarFix Reels.mp4">
            </video>
        </div>
    </section>
   <section class="mastera">
        <div class="container">
            <h2 class="section-title mastera__title">
                НАШИ МАСТЕРА
            </h2>
            <p class="mastera__text">
                Специалисты компании имеют высочайшую квалификацию. Мы ответим на любые вопросы, посоветуем какой
                материал выбрать с учетом выбранной услуги и поженаний заказчика. Наши сотрудники прошли
                специализированную подготовку по нанесению пленки и постоянно подтверждают свою квалификацию.
            </p>
            <ul class="mastera__list">
                <li class="mastera__item">
                    <img class="mastera__item-img" src="images/mas-1.jpg" alt="">
                    <p class="mastera__item-text">
                        Алексей
                        Специалист по антигравийной пленке
                    </p>
                </li>
                <li class="mastera__item">
                    <img class="mastera__item-img" src="images/mas-2.jpg" alt="">
                    <p class="mastera__item-text">
                        Специалист по антигравийной пленке
                    </p>
                </li>
                <li class="mastera__item">
                    <img class="mastera__item-img" src="images/mas-3.jpg" alt="">
                    <p class="mastera__item-text">
                        Специалист по антигравийной пленке
                    </p>
                </li>
                <li class="mastera__item">
                    <img class="mastera__item-img" src="images/mas-4.jpg" alt="">
                    <p class="mastera__item-text">
                        Специалист по антигравийной пленке
                    </p>
                </li>
            </ul>
        </div>
    </section>
    </main>
    <footer class="footer">
        <div class="container">
            <nav class="footer__menu">
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <p class="footer__menu-title">Компания</p>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#onas" class="footer__menu-link">О нас</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#usl" class="footer__menu-link">Услуги</a>
                    </li>
                </ul>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <p class="footer__menu-title">Новости</p>
                    </li>
                    <li class="footer__menu-item">
                        <a href="blog.ejs" class="footer__menu-link">Блог</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="faq.ejs" class="footer__menu-link">FAQ</a>
                    </li>
                </ul>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <p class="footer__menu-title">Наши работы</p>
                    </li>
                    <li class="footer__menu-item">
                        <a href="works.ejs" class="footer__menu-link">Портфолио</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="otzivi.ejs" class="footer__menu-link">Отзывы</a>
                    </li>
                </ul>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <p class="footer__menu-title">Контакты</p>
                    </li>
                    <li class="footer__menu-item">
                        <a href="contacts.ejs" class="footer__menu-link">Связаться с нами</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="vacan.ejs" class="footer__menu-link">Вакансии</a>
                    </li>
                </ul>
            </nav>
            <ul class="app">
                <li class="app__item">
                    <a href="#" class="app__links-item">
                        <img src="images/instagram.svg" alt="" class="app__item-img">
                    </a>
                </li>
                <li class="app__item">
                    <a href="#" class="app__links-item">
                        <img src="images/vkontakte.svg" alt="" class="app__item-img">
                    </a>
                </li>
                <li class="app__item">
                    <a href="#" class="app__links-item">
                        <img src="images/youtube.svg" alt="" class="app__item-img">
                    </a>
                </li>
            </ul>
            <div class="footer__copy">
                <p class="footer__copy-text">Телефон: 8 (988) 533-22-01
                </p>
                <p class="footer__copy-text">Адрес: Сосновая улица 31
                </p>
                <p class="footer__copy-text">Ростовская область, Аксайский район, Щепкинское сельское поселение,
                </p>
                <p class="footer__copy-text">хутор Нижнетемерницкий, коттеджный поселок Прилесный
                </p>
            </div>
            <nav class="copy__nav">
                <ul class="copy__nav-list">
                    <li class="copy__nav-item">
                        <a href="#" class="copy__nav-link">© CarFix Studio, 2025. Весь контент, размещенный на данном сайте является авторским и принадлежит CarFix Studio.</a>
                    </li>
                    <li class="copy__nav-item">
                        <a href="#" class="copy__nav-link">Разработчик: KODO</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>