<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="wrapper">
        <header class="header">
            <div class="container ">
               <div class="header__inner">
                    <a href="/" class="logo">
                        <img src="images/lg.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <button class="menu__btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <%- include('parts/menu', {menuItem:'works'}); %>
                    </nav>
               </div> 
            </div>  
        </header>
        <main class="main">
            <section class="why-lease">
                <div class="container">
                    <h2 class="section-title">
                        Отзывы
                    </h2>
                    <ul class="why-lease__list">
                        <li class="why-lease__item">
                            <img src="images/why-lease-1.svg" alt="" class="why-lease__item-img">
                            <h3 class="why-lease__item-title">
                                Руслан Караханян
                            </h3>
                            <p class="why-lease__item-text">
                                Очень грамотный специалист Алексей со своей командой, с пониманием подошли к моей проблеме
                                и устранили на 10 из 10. Покрасили новый бампер передний мне, произвели качественный подбор
                                краски по переднему крылу и попали четко в цвет. В целом мне очень сложно угодить, ребята 
                                провели достойную работу, за что спасибо им большое за отношение и подход к делу и самое 
                                важное, это сроки в которые вложились раньше оговоренных. По цене приемлемо если хотите чтобы
                                работа была качественная и надежная. Теперь знаю хороших специалистов в городе, рекомендую!
                            </p>
                        </li>
                        <li class="why-lease__item">
                            <img src="images/why-lease-1.svg" alt="" class="why-lease__item-img">
                            <h3 class="why-lease__item-title">
                                Роман С.
                            </h3>
                            <p class="why-lease__item-text">
                                Всем добрый день! Обратился к Алексею ссылаясь на отзывы в и итеренете и и не сколько не прогадал,
                                по телефону обрисовал свою проблему с автомобилем, сскинул фото, видео. Обговорили сроки ремонта и примерную стоимость.
                                Проблема заключалась еще в том, что необходимо было все передать от прошлых горе мастеров (которые потрепали мне нервы
                                и мое время). Работа была выполнена на все 100% и в оговоренные сроки и автомобиль снова засиял. Качество просто на высоте.
                                Еще раз огромное спасибо Алексею за его труды. А кто считает что цена завышена, то она соответствует качеству. Ребята молодцы,
                                советую! 
                            </p>
                        </li>
                        <li class="why-lease__item">
                            <img src="images/why-lease-1.svg" alt="" class="why-lease__item-img">
                            <h3 class="why-lease__item-title">
                                Александр
                            </h3>
                            <p class="why-lease__item-text">
                                Ремонтировал автомобиль после ДТП. Плюс устранял очаги коррозии. Сделали все отлично. Алексей на каждом этапе работы 
                                информировал о ходе работы, с приложением фотографий и возникающих трудностях. За что отдельная благодарность.
                                Итог работы порадовал, краска подобрана хорошо, переходов не видно, автомобиль как новый!
                            </p>
                        </li>
                        <li class="why-lease__item">
                            <img src="images/why-lease-1.svg" alt="" class="why-lease__item-img">
                            <h3 class="why-lease__item-title">
                                Игорь П.
                            </h3>
                            <p class="why-lease__item-text">
                                Делал у Алексея 2 машины. Восстановил то что казалось только выкинуть можно было. Сложный цвет подобрал и окрасил в идеал.
                            </p>
                        </li>
                        <li class="why-lease__item">
                            <img src="images/why-lease-1.svg" alt="" class="why-lease__item-img">
                            <h3 class="why-lease__item-title">
                                Сергей К.
                            </h3>
                            <p class="why-lease__item-text">
                                Выбрал эту мастерскую опираясь на отзывы и не ошибся. Все работы выполнили качественно.
                            </p>
                        </li>
                        <li class="why-lease__item">
                            <img src="images/why-lease-1.svg" alt="" class="why-lease__item-img">
                            <h3 class="why-lease__item-title">
                                Алла Старыгина
                            </h3>
                            <p class="why-lease__item-text">
                                Обращалась по выпрямлению вмятины на двери, сделали все очень быстро, спасибо большое!
                            </p>
                        </li>
                        <li class="why-lease__item">
                            <img src="images/why-lease-1.svg" alt="" class="why-lease__item-img">
                            <h3 class="why-lease__item-title">
                                Роман С.
                            </h3>
                            <p class="why-lease__item-text">
                                Адекватные цены, отличное качество кузовных и малярных работ. Нет необоснованно высоких цен, все соответствует качеству и рынку работ, что хорошо. 
                                Нет и халявы с низким качеством итоговых работ, что тоже хорошо. Со сроками выполнения работ тоже все хорошо, соответствовуют объему и сложности работ. Рекомендую.
                            </p>
                        </li>
                        <li class="why-lease__item">
                            <img src="images/why-lease-1.svg" alt="" class="why-lease__item-img">
                            <h3 class="why-lease__item-title">
                                Галина Байрацкая
                            </h3>
                            <p class="why-lease__item-text">
                                Как обычно оставила машину у работы, был сильный ветер и когда я вышла на улицу на капоте уже лежала неплохих размеров ветка, которая оставила большую вмятину 🥲 
                                Обратилась в данный сервис за восстановлением, и в восторге от работы, сделали быстро и качественно ( есть с чем сравнить, ранее обращалась в другой сервис по восстановлению крыла), 
                                работой довольна, Алексей мастер своего дела, спасибо большое ☺️
                            </p>
                        </li>
                        <li class="why-lease__item">
                            <img src="images/why-lease-1.svg" alt="" class="why-lease__item-img">
                            <h3 class="why-lease__item-title">
                                Максим Максимыч
                            </h3>
                            <p class="why-lease__item-text">
                                Обращался в студию за окрасом бамперов и крыла на автомобиле. 
                                Мастер Алексей отлично выполнил работу. Цвет подобран правильно. Есть малярная камера. Большой светлый бокс. 
                                Буду рекомендовать друзьям.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">Компания</p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="/" class="footer__menu-link">О нас</a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="/" class="footer__menu-link">Услуги</a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">Новости</p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="blog.ejs" class="footer__menu-link">Блог</a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="faq.ejs" class="footer__menu-link">FAQ</a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">Наши работы</p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="works.ejs" class="footer__menu-link">Портфолио</a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="otzivi.ejs" class="footer__menu-link">Отзывы</a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">Контакты</p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="contacts.ejs" class="footer__menu-link">Связаться с нами</a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="vacan.ejs" class="footer__menu-link">Вакансии</a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__links-item">
                            <img src="images/instagram.svg" alt="" class="app__item-img">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__links-item">
                            <img src="images/vkontakte.svg" alt="" class="app__item-img">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__links-item">
                            <img src="images/youtube.svg" alt="" class="app__item-img">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p class="footer__copy-text">Телефон: 8 (988) 533-22-01
                    </p>
                    <p class="footer__copy-text">Адрес: Сосновая улица 31
                    </p>
                    <p class="footer__copy-text">Ростовская область, Аксайский район, Щепкинское сельское поселение,
                    </p>
                    <p class="footer__copy-text">хутор Нижнетемерницкий, коттеджный поселок Прилесный
                    </p>
                </div>
                <nav class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">© CarFix Studio, 2025. Весь контент, размещенный на данном сайте является авторским и принадлежит CarFix Studio.</a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">Разработчик: KODO</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</body>
</html>