<ul class="menu__list">
    <li class="menu__list-item">
     <a href="/" class="menu__list-link<% if(menuItem === 'main'){%> menu__list-link--active<%}%>">О НАС</a>
    </li>
    <li class="menu__list-item">
     <a href="#usl" class="menu__list-link">УСЛУГИ</a>
    </li>
    <li class="menu__list-item">
     <a href="works.ejs" class="menu__list-link<% if(menuItem === 'works'){%> menu__list-link--active<%}%>">ПОРТФОЛИО</a>
    </li>
    <li class="menu__list-item">
     <a href="contacts.ejs" class="menu__list-link<% if(menuItem === 'contacts'){%> menu__list-link--active<%}%>">КОНТАКТЫ</a>
    </li>
  </ul>